.topo {
    display: flex;
    background-color:black;
    padding: 0.02em;
    justify-content: space-between;
    margin-bottom: 1.1px;
    height: 40px;
}

.topo ul li {
    display: inline;
    background-color:black;
    text-align:right;
    padding-right:30px;
    text-decoration:none; 
    color:white;
    
}

.list {
    text-align: right;
    background-color:rgb(29, 28, 28);
    text-decoration: none;
    list-style: none;
 
}

.login {
    display: flex;
    justify-content: flex-start;  
    
}